* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: clamp(1rem, 1.2vmax, 1.2rem);
}

html,
body {
  height: 100%;
}

body {
  --accent-color: #3d5afe;
  --secondary-color: #ffac2e;
  --text-color: 20, 20, 20;
  --foreground-color: 252, 253, 255;
  --background-color: 241, 243, 248;
  --danger-color: rgb(255, 75, 75);
  --green: #1cad59;
  --yellow: rgb(220, 165, 0);
  color: rgba(var(--text-color), 1);
  background-color: rgba(var(--background-color), 1);
}

body[data-theme=dark] {
  --accent-color: #6d83ff;
  --secondary-color: #d60739;
  --text-color: 220, 220, 220;
  --foreground-color: 27, 28, 29;
  --background-color: 21, 22, 22;
  --danger-color: rgb(255, 106, 106);
  --green: #00e676;
  --yellow: rgb(255, 213, 5);
}

p,
strong {
  font-size: 0.9rem;
  max-width: 65ch;
  line-height: 1.7;
  color: rgba(var(--text-color), 0.9);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgba(var(--text-color), 0.9);
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.gap-0-3 {
  gap: 0.3rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.align-content-start {
  align-content: start;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

header {
  padding: 1.5rem 1rem;
  justify-content: space-between;
}

main {
  display: grid;
  gap: 1rem;
  padding: 1.5rem max(1rem, 6vw);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

#main_banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  background-color: rgb(238, 82, 82);
}
#main_banner .icon {
  fill: rgba(var(--foreground-color), 1);
}
#main_banner #banner_content {
  color: rgba(var(--foreground-color), 1);
}

.app {
  display: flex;
  flex-direction: column;
  padding: max(1.5rem, 3vw);
  background-color: rgba(var(--foreground-color), 1);
  border-radius: 0.5rem;
  gap: 1rem;
}
.app__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--background-color), 1);
  margin-bottom: 1rem;
}
.app__icon .icon {
  width: 3rem;
  height: 3rem;
  fill: rgba(var(--text-color), 0.9);
}
.app li {
  list-style: none;
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.8);
  margin-bottom: 0.8rem;
  line-height: 1.5;
}
.app a:not([class]) {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
}
.app a:not([class]):hover {
  text-decoration: underline;
}
.app a:not([class]) .icon {
  margin-left: 0.3rem;
  width: 1em;
  height: 1em;
  fill: var(--accent-color);
}

.ext-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  background-color: var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: rgba(var(--foreground-color), 1);
  font-weight: 500;
  align-self: flex-start;
  margin-top: auto;
  transition: color 0.2s, background-color 0.2s;
}
.ext-link .icon {
  fill: rgba(var(--foreground-color), 1);
  transition: fill 0.2s;
}
.ext-link:hover {
  color: var(--accent-color);
  background-color: rgba(var(--foreground-color), 1);
  box-shadow: 0 0 0 0.1rem var(--accent-color) inset;
}
.ext-link:hover .icon {
  fill: var(--accent-color);
}

article {
  display: grid;
  gap: 1rem;
  padding: 1.5rem max(1rem, 6vw);
}

ul {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.member-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: max(1rem, 1.5vw);
  border-radius: 0.5rem;
  background-color: rgba(var(--foreground-color), 1);
}
.member-card h4 {
  min-width: 12rem;
}
.member-card h5 {
  font-weight: 400;
}
.member-card .kyc-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.member-card .kyc-wrapper .icon {
  width: 1.1rem;
  height: 1.1rem;
}
.member-card .kyc-wrapper .kyc-status {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 0.3rem;
  border-radius: 3rem;
  font-weight: 500;
  background-color: rgba(var(--text-color), 0.1);
  padding-right: 0.5rem;
}
.member-card .kyc-wrapper .kyc-status.pending {
  background-color: var(--yellow);
  color: rgba(var(--foreground-color), 1);
}
.member-card .kyc-wrapper .kyc-status.pending .icon {
  fill: rgba(var(--foreground-color), 1);
}
.member-card .kyc-wrapper .kyc-status.verified {
  background-color: var(--green);
  color: rgba(var(--foreground-color), 1);
}
.member-card .kyc-wrapper .kyc-status.verified .icon {
  fill: rgba(var(--foreground-color), 1);
}

sm-copy {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(var(--text-color), 0.8);
}

#hero_section {
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 8vw 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}
#hero_section h1 {
  font-size: max(1.6rem, 3vw);
}
#hero_section p {
  max-width: 100%;
}

.important-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.important-link {
  list-style: none;
  flex: 1;
}
.important-link .icon,
.important-link img {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--accent-color);
  flex-shrink: 0;
}
.important-link a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-align: start;
  gap: 0.5rem;
  font-weight: 500;
  background-color: rgba(var(--foreground-color), 1);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--accent-color);
}
.important-link a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  main {
    padding: 1.5rem 8vw;
  }
  sm-copy {
    min-width: 24rem;
  }
}
.hidden {
  display: none;
}